body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #fcfbfd;
    color: #050000;
}

header {
    background-color: #3efd04;
    padding: 20px;
    color: #0227fa;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #1303fa;
    text-decoration: none;
}

.kg0 {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-top: 0;
}

.kg1 {
    display: inline-block;
    padding: 10px 15px;
    background-color: #1ef701;
    color: #0515f5;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.kg2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], textarea {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #ff0202;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0066cc;
}

footer {
    background-color: #0213fa;
    justify-content: center;
    color: #ddd;
    text-align: center;
    padding: 10px 0;
    position: auto;
    bottom: 0;
    width: 100%;
}
